<div class="container">
    <div class="text-center my-5">
        <%= image_tag "foto3.jpg", class:"w-50" %>
    </div>
    <h1 class="text-center mb-5">Destino Tres</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut expedita ea quasi distinctio magni similique error odit perferendis explicabo, blanditiis omnis quae, culpa, qui asperiores ducimus velit deleniti corrupti commodi.
    Quidem qui totam voluptate, porro vero magnam maxime eveniet alias ipsam non aperiam aliquam quibusdam minus pariatur, dolore nostrum placeat saepe exercitationem veritatis. Iste nostrum doloribus deserunt ea cupiditate libero!
    Tempore voluptatem itaque voluptatum sed corrupti consequatur voluptatibus inventore at vitae explicabo distinctio quo nulla ea, assumenda atque accusamus aliquam reiciendis deserunt fugit incidunt quos! Tempora impedit consequatur nam minus?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis vel nesciunt suscipit temporibus asperiores aspernatur quae, unde officiis voluptatum harum alias laboriosam repellendus quisquam aliquid, itaque incidunt libero minus iure!
    Quod earum dignissimos expedita saepe reprehenderit asperiores distinctio, voluptas blanditiis voluptatum, maiores eligendi quisquam cumque veniam quo facere labore laborum autem, ad harum tempora magni amet fugit? Ea, rem praesentium.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus voluptatem distinctio suscipit nisi nam. Repellendus doloribus fugiat ipsam et, placeat pariatur, adipisci, amet sint magni aliquid dolor! Iste, a accusantium.
    Quaerat consequatur officia eius iure a rerum alias atque eos, ad beatae perferendis, quae assumenda temporibus porro voluptates similique ab suscipit dolorem praesentium natus quos placeat. Dolorem libero ullam ex!
    Atque eveniet quasi ipsam ullam molestias consectetur earum eius accusantium, corrupti iure eaque, repudiandae recusandae ducimus odio fugit reiciendis perferendis facilis maxime saepe, placeat culpa soluta assumenda? Voluptas, aliquid aliquam!
    Natus nostrum neque id esse, non ipsa provident. Eligendi ad cumque laboriosam! Nobis magni debitis hic minima eum? Eum illo quo odio quisquam repellat nulla cumque fugit quaerat molestiae labore.</p>
    <div class="my-5 text-center">
        <%= link_to "Volver", :back, class:"btn btn-dark btn-sm" %>
    </div>
</div>